<%- include('partials/head')%>
</head>
<body>
  <div class="flex items-center text-center justify-center flex-col mr-20 gap-0">
    <h1 class="font-extrabold text-6xl">404</h1>
    <img src="https://shop.sesto.ir/wp-content/uploads/2022/10/funny-404-error-page-design.gif" alt="404 Error">
    <p class="text-2xl text-gray-600 font-serif">Looks like you are lost!</p>
    <a href="/" class="text-blue-600 visited:text-purple-600" >Home</a>

  </div>

</body>
</html>