<%- include('partials/head') %>
</head>
<body class="mr-4 p-10 gap-10 flex flex-col">
  <h1 class="text-red-500 text-5xl text-center font-bold">Hello sujay!</h1>
  <div>
  <p class="text-green-600 text-2xl ">Welcome to backend development team</p>
  <ul>
    <li>Sujay Kumar Singh</li>
    <% devdata.forEach((name)=>{ %>
      <li><%= name.username %></li>
   <% }); %>
    
  </ul>
</div>
  <div>
    <a class="text-blue-400" href="/form">Add developers</a>
  </div>
</body>
</html>